NEXT_PUBLIC_ENV=development
NEXT_PUBLIC_API_BASE_URL=http://localhost:3001
NEXT_PUBLIC_REPO_URL=

PISTON_API_URL=localhost:2000/api/v2/
PISTON_API_KEY=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET_PROD=
GITHUB_CLIENT_SECRET_DEV=